body, html, table, tr, th, td {
    margin: 0;
    padding: 0;
}

.homeBtn {
  background: none;
  cursor: pointer;
  border: none;
}

.homeBtn:hover {
    filter: hue-rotate(10deg);
}


.house {
  width: 55px;
  background: none;
  position: absolute;
  left: 5px;
  top: 5px;  
  z-index: 100;
}

.title {
  font-family:'Trebuchet MS', Helvetica;
  color: #6B02F0;
  border: black;
  margin-left: 67px;
  position: absolute;
  bottom: 1px;
}

.navbar {
  width: 100%;
  height: 65px;
  background: #87CEEB;
  position: absolute;
  top: 1px;
  right: 0px; 
}

.county {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 315px;
  top: 15px;
}

.counties {
  position: absolute;
  left: 315px;
  top: 35px; 
}

.servicetype {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 485px;
  top: 15px;
}

.servicetypes {
  position: absolute;
  left: 485px;
  top: 35px;
}

.rate {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 645px;
  top: 15px;
}

.ratings {
  position: absolute;
  left: 645px;
  top: 35px;
}

.filterBtn {
 background-color: #9A62F0;
 color: white;
 border-color: white;
 width: 40px;
 position: absolute;
 left: 750px;
 bottom: 12px;
}

.searchBar {
  width: 93vw;
  position: absolute;
  top: 70px;
  left: .5vw;
}

.searchBtn {
  position: absolute;
  width: 5vw;
  left: 94vw;
  top: 70px;
}

.person {
  filter: grayscale(10%);
  width: 50px;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
  filter: hue-rotate(-30deg);
  background: white; 
}

.person:hover {
  filter: grayscale(20%);  
}

.switchpage {
  color: #6B02F0;
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 23px;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#result {
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 20px;
  background-color: #33218f;
  border-radius: 2px;
  color: white;
  position: fixed;
  z-index: 10;
  right: 25%;
  top: 30%;
}

#result2 {
  font-family: 'Trebuchet MS', Helvetica;
  position: fixed;
  left: 80px;
  top: 100px;
}

.resultContainer {
  position: relative;
  top: 30px;
  right: 10px;
}

.uploads {
  position: absolute;
  width: 100vw;
  top: 90px
}

.popup1 {
display: none;
position: relative;
left: 40%;
transform: translateX(-50%);
background-color: #241571;
color: #fff;
width: 180px;
padding: 10px;
margin-top: 2px;
border-radius: 5px;
white-space: nowrap;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.info1:hover .popup1 {
background-color: #241571;
display: block;
cursor: pointer
}

@media screen and (max-width: 850px){
  .title {
  font-size: 20px;
  bottom: 4px;
}

.county {
  left: 270px;
  font-size: 14px;
}

.counties {
  font-size: 12px;
  left: 270px;
  width: 100px;
}

.servicetype {
  left: 380px;
  font-size: 14px;
}

.servicetypes {
  left: 380px;
  width: 100px;
  font-size: 12px;
}

.rate {
  left: 490px;
  top: 15px;
  font-size: 14px;
}

.ratings {
  position: absolute;
  left: 490px;
  top: 35px;
  width: 85px;
  font-size: 12px;
}

.filterBtn {
 width: 40px;
 position: absolute;
 left: 590px;
 bottom: 20px;
}
.switchpage {
  font-size: 19px;
}
.searchBar {
  width: 90vw;
}
.searchBtn {
  left: 91vw;
}
}

