body, html, table, tr, th, td {
    margin: 0;
    padding: 0;
}

.homeBtn {
  background: none;
  cursor: pointer;
  border: none;
}

.homeBtn:hover {
    filter: hue-rotate(10deg);
}

.house {
  width: 55px;
  background: none;
  position: absolute;
  left: 5px;
  top: 5px;  
  z-index: 100;
}

.title {
  font-family:'Trebuchet MS', Helvetica;
  color: #6B02F0;
  border: black;
  margin-left: 67px;
  position: absolute;
  bottom: 1px;
}

.navbar {
  width: 100%;
  height: 65px;
  background: #87CEEB;
  position: absolute;
  top: 1px;
  right: 0px; 
}

.county {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 315px;
  top: 15px;
}

.counties {
  position: absolute;
  left: 315px;
  top: 35px; 
}

.category {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 480px;
  top: 15px;
}

.categories {
  position: absolute;
  left: 480px;
  top: 35px;
}

.item {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 645px;
  top: 15px;
}

.items {
  position: absolute;
  left: 645px;
  top: 35px;
}

.price {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 760px;
  top: 15px;
}

.prices {
  position: absolute;
  left: 760px;
  top: 35px;
}

.quality {
  font-family: 'Trebuchet MS', Helvetica;
  position: absolute;
  left: 870px;
  top: 15px;
}

.qualities {
  position: absolute;
  left: 870px;
  top: 35px;
}

.filterBtn {
 background-color: #9A62F0;
 color: white;
 border-color: white;
 width: 40px;
 position: absolute;
 left: 980px;
 bottom: 12px;
}

.searchBar {
  width: 93vw;
  position: absolute;
  top: 70px;
  left: .5vw;
}

.searchBtn {
  position: absolute;
  width: 5vw;
  left: 94vw;
  top: 70px;
}

.person {
  filter: grayscale(10%);
  width: 50px;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
  filter: hue-rotate(-30deg);
  background: white; 
}

.person:hover {
  filter: grayscale(20%);  
}

.switchpage {
  color: #6B02F0;
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 23px;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#result {
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 20px;
  background-color: #33218f;
  border-radius: 2px;
  color: white;
  position: fixed;
  z-index: 10;
  right: 25%;
  top: 30%;
}

#result2 {
  font-family: 'Trebuchet MS', Helvetica;
  position: fixed;
  left: 80px;
  top: 100px;
}

.resultContainer {
  position: relative;
  top: 30px;
  right: 10px;
}

.salesFloor {
  margin-left: auto;
  margin-right: auto;
}

.item1 {
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 14px;
  position: relative;
  top: 100px;
  bottom: 10px;
  left: 10px;
  background: #EEEEEE;
  width: 300px;
  border-radius: 10px;
}

.img1 {
  width: 300px;
  text-align: center;
  padding: 10px;
}

.item1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item2 {
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 14px;
  position: relative;
  top: 100px;
  bottom: 10px;
  left: 20px;
  background: #EEEEEE;
  width: 300px;
  border-radius: 10px; 
}

.img2 {
  width: 300px;
  text-align: center;
  padding: 10px;
}

.item2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item3 {
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 14px;
  position: relative;
  top: 100px;
  bottom: 10px;
  left: 10px;
  width: 150px;
  background: #EEEEEE;
  padding: 15px 0px;
  border-radius: 10px;
}

.img3 {
  width: 300px;
  text-align: center;
  padding: 10px;
}

.item3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item4 {
  font-family: 'Trebuchet MS', Helvetica;
  font-size: 14px;
  position: relative;
  top: 100px;
  bottom: 10px;
  left: 20px;
  background: #EEEEEE;
  width: 300px;
  border-radius: 10px;
}

.item4 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.img4 { 
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 10px;
}

.ps5 {
  color: green;
}

.eleven {
  color: green;
}

.jrds {
  color: green;
}

.dsk {
  color: green;
}

.seller1 {
  position: relative;
  top: 10px;
  left: 10px;
}

.user1 {
  color: #0A77F9
}




@media screen and (max-width: 850px){
  .title {
  font-size: 20px;
  bottom: 4px;
}

.county {
  left: 270px;
  font-size: 14px;
}

.counties {
  font-size: 12px;
  left: 270px;
  width: 60px;
}

.category {
  left: 340px;
  font-size: 14px;
}

.categories {
  left: 340px;
  width: 60px;
  font-size: 12px;
}

.item {
  left: 410px;
  font-size: 14px;
}

.items {
  left: 410px;
  width: 60px;
  font-size: 12px;
}

.price {
  left: 480px;
  top: 15px;
  font-size: 14px;
}

.prices {
  position: absolute;
  left: 480px;
  width: 60px;
  font-size: 12px;
}

.quality {
  left: 550px;
  top: 15px;
  font-size: 14px;
}

.qualities {
  position: absolute;
  left: 550px;
  top: 35px;
  width: 60px;
  font-size: 12px;
}


.filterBtn {
 width: 40px;
 position: absolute;
 left: 620px;
 bottom: 20px;
}

.switchpage {
  position:absolute;
  left: 85px;
  font-size: 19px;
}

.searchBar {
  width: 90vw;
}
.searchBtn {
  left: 91vw;
}
}
